/* nav */
.navbar {
  background-color: black;
}
/* end */
/* jumbotron */
.firstsection {
  background-image: url("image/second.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 750px;
}

.jum {
  padding-top: 30%;
  color: white;
}

.viewbt {
  font-size: 15px;
  padding: 15px 15px;
  border-radius: 40px;
  background-color: rgba(0, 123, 255, 0.7);
}

.ll {
  font-size: 25px;
}

.viewbt:hover {
  background-color: rgba(0, 123, 255, 1);
}

/* end */
/* products view */
.kk {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.kk:hover {
  box-shadow: 0px 0px 10px 7px rgb(0, 123, 255);
  transition: 1s;
  border-radius: 25px;
}

.p-details {
  background-color: black;
  color: white;
}

/* end */
/* footer */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");

.pdd {
  padding: 0;
}

.card {
  padding: 1% 1%;
  color: gray;
  background-color: black;
}

.uo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.uo>li {
  padding: 4px;
}

.uo>li:hover {
  color: white;
  cursor: pointer;
}

hr {
  border-width: 3px;
}

.social>i {
  padding: 1%;
  font-size: 15px;
}

.social>i:hover {
  color: white;
  cursor: pointer;
}

.policy>div {
  padding: 4px;
}

.ho {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

.di {
  border-top: 2px solid gray;
}

/* end */